<div class="container  py-4">
  <div class="row">
    <div class="col-8">
      <h3 style="display: inline;">Pet Information</h3>
      <hr />
      <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
        <!-- name -->
        <div class="form-group">
          <label for="name">Name </label>
          <input type="text" formControlName="name" placeholder="Pet Name" class="form-control bg-white border-md"
            [ngClass]="{ 'is-invalid': submitted && p.name.errors }" />
          <div *ngIf="submitted && p.name.errors" class="invalid-feedback">
            <div *ngIf="p.name.errors.required">Name is required</div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="age">Age </label>
          <input type="number" formControlName="age" class="form-control bg-white border-md" placeholder="Age"
            [ngClass]="{ 'is-invalid': submitted && p.age.errors }" />
          <div *ngIf="submitted && p.age.errors" class="invalid-feedback">
            <div *ngIf="p.age.errors.required">Pet Age is required</div>
            <div *ngIf="f.age.errors.minlength">Password must be at least 1 characters</div>
            <div *ngIf="f.age.errors.maxlength">Password is max 2 characters</div>
          </div>
        </div>
        <!-- Pet Place -->
        <div class="form-group">
          <label for="place">Place </label>
          <input type="text" formControlName="place" placeholder="Place" class="form-control bg-white border-md"
            [ngClass]="{ 'is-invalid': submitted && p.place.errors }" />
          <div *ngIf="submitted && p.place.errors" class="invalid-feedback">
            <div *ngIf="p.place.errors.required">Pet Place is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn- btn-primary mr-2">Save</button>
          <a class="btn btn-danger" [routerLink]="['/pet-list']">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>