<div class="container">
  <div class="row py-4 mt-4 align-items-center">
    <!-- For Demo Purpose -->
    <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
      <!-- https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg -->
      <img src="../../../assets/images/reg.png" alt=""
        class="img-fluid mb-3 d-none d-md-block">
    </div>
    <!-- Registeration Form -->
    <div class="col-md-7 col-lg-6 ml-auto">
      <h2 class="ml-2">Create an Account</h2>
      <br />
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Username -->
        <div class="form-group">
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
            <input type="text" formControlName="userName" placeholder="Username" class="form-control bg-white border-md"
              [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
              <div *ngIf="f.userName.errors.required">Username is required</div>
              <div *ngIf="f.userName.errors.minlength">user Name must be at least 3 characters</div>
            </div>
          </div>
        </div>
        <!-- Password -->
        <div class="input-group col-lg-12 mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
              <i class="fa fa-lock text-muted"></i>
            </span>
          </div>
          <input type="password" formControlName="userPassword" class="form-control bg-white border-md"
            placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" />
          <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
            <div *ngIf="f.userPassword.errors.required">Password is required</div>
            <div *ngIf="f.userPassword.errors.minlength">Password must be at least 5 characters</div>
            <div *ngIf="f.userPassword.errors.maxlength">Password is max 12 characters</div>
          </div>
        </div>
        <!-- Password Confirmation -->
        <div class="input-group col-lg-12 mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
              <i class="fa fa-lock text-muted"></i>
            </span>
          </div>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
            class="form-control bg-white border-md"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.minlength">Confirm Password must be at least 5 characters</div>
            <div *ngIf="f.confirmPassword.errors.maxlength">Confirm Password is max 12 characters</div>         
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
        <div class="form-group mr-3 ml-3">
          <button class="btn btn-primary btn-block py-2">Register</button>
        </div>
        <!-- Divider Text -->
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
          <div class="border-bottom w-100 ml-5"></div>
          <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
          <div class="border-bottom w-100 mr-5"></div>
        </div>

        <!-- Already Registered -->
        <div class="text-center w-100">
          <p class="text-muted font-weight-bold">Already Registered? <a class="text-primary ml-2"
              [routerLink]="['/login']">Login</a>
          </p>
        </div>

      </form>
    </div>
  </div>
</div>