<!-- carousel-starts -->
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
  <ol class="carousel-indicators">
    <!-- <li data-target="#carousel" data-slide-to="0" class="active"></li> -->
    <!-- //<li data-target="#carousel" data-slide-to="1" ></li> -->
  </ol>
  <div class="carousel-inner mt-3" role="listbox ">
    <div class="carousel-item active">
      <a>
        <picture>
          <source srcset="https://dummyimage.com/2000x580/007aeb/4196e5" media="(min-width: 1400px)">
          <source srcset="assets/images/image2.png" media="(min-width: 769px)">
          <source srcset="https://dummyimage.com/800x580/007aeb/4196e5" media="(min-width: 577px)">
          <img srcset="https://dummyimage.com/600x580/007aeb/4196e5" alt="responsive image" class="d-block img-fluid">
        </picture>
      </a>
    </div>
  </div>
  <!-- /.carousel-inner -->
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->