<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sticky-top" id="ftco-navbar">
  <a class="navbar-brand" routerLink="/home">
    <h4>Pet Peers</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="ftco-nav">
    <ul class="navbar-nav ml-auto mr-5">
      <li *ngFor="let item of items"
        [ngClass]="{'nav-item': true, 'dropdown': item.subItems!=undefined && item.subItems.length>0}">
        <!--If the menu item has sub menu items-->
        <a class="nav-link dropdown-toggle" [routerLink]="item.url"
          *ngIf="item.subItems!=undefined && item.subItems.length>0 && hasAccess(item)" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.displayName}}
        </a>
        <!--If the menu item doesn't have sub menu items-->
        <a class="nav-link" [routerLink]="item.url"
          *ngIf="(item.subItems==undefined || item.subItems.length==0) && hasAccess(item)"
          (click)="ToggleNavBar()">{{item.displayName}}</a>
      </li>
      <!--Profile and Logout dropdown starts-->
      <li class=" nav-item dropdown cta" routerLinkActive="current active" *ngIf="isUserLoggedin()==true">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/userlogo.png" width="20%" class="avatar">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div class="row d-flex justify-content-center">
            <div class="col-12 text-center pt-2 brand_logo_container">
              <img src="assets/images/userlogo.png" width="40%" class="text-center brand_logo"
                *ngIf="user.userImageUrl==undefined">
              <!-- <img src="{{imageURL(userData.userImageUrl)}}" width="40%" class="text-center brand_logo"
                *ngIf="userData.userImageUrl!=undefined"> -->
            </div>
          </div>

          <div class="row" style="width:200px;">
            <div class="col-12 text-center pt-2">
              <span><b>{{user.userName}}</b></span>
            </div>
            <div class="dropdown-divider"></div>
            <div class="col-12 text-center pt-2">
              <button type="button" class="btn btn-info  btn-block" (click)="logout()" *ngIf="isUserLoggedin()==true">
                Logout
              </button>
            </div>
          </div>
        </div>
      </li>
      <!--Profile and Logout dropdown ends-->
    </ul>

  </div>
</nav>