nav {
	position: -webkit-sticky;
	left: 0;
	right: 15px;
	padding-left: 25px;
	padding-right: 15px;
	font-size: large;
	
}

.imageProp {
	height: 30px;
	width: 30px;
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.dropdown-menu .dropdown-item {
	color: black !important;
}
