<div id="login" style="background-image: url('../../../assets/images/bg.png'); height: 100%;width: 100%; background-position: center;
background-repeat: no-repeat;
background-size: cover;">
<br /><br /><br />
  <div class="container py-2">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-4">
        <div id="login-box" class="col-md-12 py-4">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h3 class="text-center text-info">Login</h3>
            <!-- Username -->
            <div class="form-group">
              <div class="input-group col-lg-12 mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white px-4 border-md border-right-0">
                    <i class="fa fa-user text-muted"></i>
                  </span>
                </div>
                <input type="text" formControlName="userName" placeholder="Username"
                  class="form-control bg-white border-md"
                  [ngClass]="{ 'is-invalid': submitted && l.userName.errors }" />
                <div *ngIf="submitted && l.userName.errors" class="invalid-feedback">
                  <div *ngIf="l.userName.errors.required">Username is required</div>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-lock text-muted"></i>
                </span>
              </div>
              <input type="password" formControlName="userPasswd" class="form-control bg-white border-md"
                placeholder="Password" [ngClass]="{ 'is-invalid': submitted && l.userPasswd.errors }" />
              <div *ngIf="submitted && l.userPasswd.errors" class="invalid-feedback">
                <div *ngIf="l.userPasswd.errors.required">Password is required</div>
                <div *ngIf="l.userPasswd.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me"
                    name="remember-me" type="checkbox"></span></label><br> -->
              <button class="btn btn-info btn-sm ml-4 mr-3">Submit</button>
              <button class="btn btn-dark btn-sm" (click)="reset()">Reset</button>
            </div>
            <div id="register-link" class="text-right">
              <a [routerLink]="['/registration']" class="text-info">Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br /> <br /> <br /><br /><br /><br />
</div>