<div class="container  py-4">
  <div class="row">
    <div class="col-12">
      <h3>My Pets</h3>
    </div>
    <div class="col-12">
      <table class="table" align="center">
        <thead class="bg-info">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pet Name</th>
            <th scope="col">Age</th>
            <th scope="col">Place</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{pet.name}}</td>
            <td>{{pet.age}}</td>
            <td>{{pet.place}}</td>
            <td>
              <button class="btn btn-sm btn-primary mr-2" [routerLink]="['/pet-edit',pet.id]">Edit</button>
            </td>
          </tr>
          <tr *ngIf="pets==undefined || pets.length==0" align="center">
            <td class="alert alert-warning" colspan="17" role="alert">
              No data found!
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>